!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Find out how Fundwise can help you live a healthy life worth living."}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "/assets/favicon.ico", rel: "shortcut icon"}
    %title="fundwise"
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags

  %body
    = render "layouts/topbar"
    = render "layouts/flash"
    = yield
    = render "layouts/footer"
    = javascript_include_tag "application"